pkgbase = deskarcade-bin
	pkgdesc = Mini-games that play on top of your desktop in a transparent overlay
	pkgver = 1.8.5
	pkgrel = 1
	url = https://github.com/BokhodirUrinboev/DeskArcade
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = libice
	depends = libpulse
	depends = libsm
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxrandr
	depends = openssl
	depends = procps-ng
	depends = ttf-font
	optdepends = libglvnd: drawing through OpenGL instead of the CPU
	optdepends = libxss: idle time for the breaks on an Xorg session
	optdepends = gnome-shell-extension-appindicator: the tray icon on GNOME (the scoreboard menu works without it)
	provides = deskarcade
	conflicts = deskarcade
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/BokhodirUrinboev/DeskArcade/releases/download/v1.8.5/deskarcade_1.8.5_amd64.deb
	sha256sums_x86_64 = 3cf6ef58270a94390fa6b949893e14d698481c49a1707e12ebd37d0bbd13ed4f
	source_aarch64 = https://github.com/BokhodirUrinboev/DeskArcade/releases/download/v1.8.5/deskarcade_1.8.5_arm64.deb
	sha256sums_aarch64 = 3b82638783cfa0af79a64cd38c03deecbd8bee887d9963cc48730f51d70fe806

pkgname = deskarcade-bin
